{# templates/fiche_frais/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}New FicheFrais{% endblock %}

{% block body %}

    <div class="container mx-auto py-8 px-4 mt-20">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">New FicheFrais</h1>

        <div class="overflow-x-auto bg-white shadow-md rounded-lg relative z-50">
            <label class="text-sm font-medium text-gray-500">Frais Kilometrique</label>
            <input class="rounded-lg border border-gray-200 p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" type="text" name="fraisKm" id="fraisKm" placeholder="Frais Kilometrique">
                </div>
            </div>



    {{ include('fiche_frais/_form.html.twig') }}



    <a href="{{ path('app_fiche_frais') }}">back to list</a>
{% endblock %}