{% extends 'base.html.twig' %}

{% block title %}Hello ComptableController!{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">Voici les Top 3 des Visiteurs ayant le plus de Montant </h1>


{% endblock %}
